{% extends "CMS/layout.html" %}

{% block content %}
<div class="magContainerCover">
    <form class="change_password" id="change_password" action="" method="post">
        <h1>Change Password</h1>
        {% csrf_token %}
            <div class="dataField firstChild">
                <label>{{ form.old_password.label }}</label>
                <div class="infoData">
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                            <div class="error">{{form.old_password.errors}}</div>
                            {% endif %}
                    <div id="old_password-description"></div>
                </div>
            </div>

            <div class="dataField">
                <label>{{ form.new_password.label }}</label>
                <div class="infoData">
                    {{ form.new_password }}
                    {% if form.new_password.errors %}
                            <div class="error">{{form.new_password.errors}}</div>
                            {% endif %}
                    <div id="new_password-description"></div>
                </div>
            </div>

            <div class="dataField">
                <label>{{ form.confirm_password.label }}</label>
                <div class="infoData">
                    {{ form.confirm_password }}
                    {% if form.confirm_password.errors %}
                            <div class="error">{{form.confirm_password.errors}}</div>
                            {% endif %}
                    <div id="confirm_password-description"></div>
                </div>
            </div>

            <div class="btnLinkWrap dataField">
               <div> <button type="submit" class="btn btnSubmit" data-href="dashboard.html">Submit</button></div>
                <a href="{% url 'dashboard' %}" class="linkCancel btnCancel">Cancel</a>
            </div>
    </form>
</div>
<script src="/static/CMS/js/jquery-validate.js"></script>
<script>

$('#change_password').validate({
        onKeyup:true,
        onChange:true,
        onBlur:true,
        onSubmit:true,
        eachValidField : function() {
            $(this).closest('.inpField').removeClass('has-error').addClass('has-success');

        },
        eachInvalidField : function() {
            $(this).closest('.inpField').removeClass('has-success').addClass('has-error');
        },
        description :{
            old_password:{
                required:'<div class="error">Please enter old password</div>',
            },
            new_password:{
                required:'<div class="error">Please enter new password</div>',
                pattern:'<div class="error"> Password should be minimum 8 characters and maximum 15 characters </div>',
            },
            confirm_password:{
                required:'<div class="error">Please enter confirm password</div>',
                conditional :'<div class="error">Passwords do not match</div>',
                pattern:'<div class="error"> Confirm password should be minimum 8 characters and maximum 15 characters </div>',
            },
        },
        conditional : {
            confirm : function() {
                return $(this).val() == $('#new_password').val();
            }
        }
    });

</script>
{% endblock %}