<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    {% block title %}
    <title>Magpie</title>
    {% endblock %}

    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <link href="/static/CMS/css/style.css" media="all" rel="stylesheet"/>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <script src="/static/CMS/js/jquery.js"></script>
    <script src="/static/CMS/js/script.js"></script>
</head>

<body>
<section class="magpieCover clearfix">
    {% include "CMS/header.html" %}
    <section class="commonWrap clearfix">
        <section class="magpieContainer clearfix">
            {% block flash_messages %}
                    {% if messages %}
                        <ul class="messages container">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock %}
            <div class="magContainerWrap">
                {% block content %}
                {% endblock %}
            </div>
        </section>

        {% include "CMS/footer.html" %}
    </section>
</section>
    {% block scripts %} {% endblock %}
</body>
</html>