{% extends "WebApp/layout.html" %}
{% load i18n %}

{% block content %}
<h1 class="noBorder">{% trans "Ethos" %}</h1>
<div class="formWrapper termsCondInfo contentPage">
    <div class="termsCondBlock firstChild">
        <p>{% trans "At Magpie, we are passionate about making life easy." %}</p>
        <p>{% trans "We bring everyday life services straight to the palm of your hand, via your phone." %}</p>
        <p>{% trans "We believe in using the power of digital technology to live our lives efficiently." %}</p>
        <p>{% trans "Magpie services are ‘best of breed’, meaning we search the globe for the best apps and services of their kind that make everyday life easy. If we can’t find one good enough, we make one ourselves." %}</p>
        <p>{% trans "We believe in a connected world, where individuals and organisations share the information they need at the click of a button." %}</p>
        <p>{% trans "We’ve sourced smart tech, replaced paper with screens and given you new digital ways to get in touch (and you can call us) – this is our vision of the connected world." %}</p>
        <p>{% trans "A connected world is a world where businesses fit around each individual, their information and their preferences for sharing it." %}</p>
        <p>{% trans "We believe in the value of personal information and the way forward for consumers and businesses alike is to give back control to the owner – you." %}</p>
        <p>{% trans "At Magpie, we know that personal information is required for both basic and good customer experience." %}</p>
        <p>{% trans "We know that consumers want personalised service and we know that the only way to do this is by using personal information. But we also know that too many organisations have access to personal information they don’t need – just look at your inbox and see who you receive emails from if you need proof." %}</p>
        <p>{% trans "We want a world where we – consumers – can choose which organisations have access to our personal information, what they access and how long they access it for. We want a world where we – organisations – spend time talking to customers who want to hear from us without bothering the ones who don’t." %}</p>
        <p>{% trans "This is our Ethos and we have the culture and technology to deliver it. It’s smart technology on your terms." %}</p>
    </div>
</div>
{% endblock %}